#nav{
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: aquamarine;
}
#nav li{
    margin: 5px;
    padding: 10px 15px;

}
#nav li:hover{
    background-color: blueviolet;
}
#nav a{
    text-decoration: none;
}
/*modelo de caja*/
.padre{
    background-color: chartreuse;
    padding: 20px;
}
.hijo{
    background-color: gold;
    padding: 100px;
    border: 10px solid black;
    margin: 30px;
}

/* componente */
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: indigo;
    gap: 1rem;
}
.card{
    width: 200px;
    background-color: #fff;
    border-radius: 100px;
    text-align: center;

}
.card img{
    width: 100%;
    border-radius: 50px;

}

.card p{
    color: #fff;
    background-color: black;
}